<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static',filename='conversation_handler.js') }}"></script>
    <script src="{{ url_for('static',filename='index.js') }}"></script>
</head>

<body>
    <h1>Hello, world!</h1>
    <p id="content"></p>
</body>

</html>
